/*font*/
@font-face 
{
    font-family: 'dancing-scriptregular';
    src: url('../font/dancingscript/dancingscript-webfont.eot');
    src: url('../font/dancingscript/dancingscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dancingscript/dancingscript-webfont.woff2') format('woff2'),
         url('../font/dancingscript/dancingscript-webfont.woff') format('woff'),
         url('../font/dancingscript/dancingscript-webfont.ttf') format('truetype'),
         url('../font/dancingscript/dancingscript-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'kaushan-scriptregular';
    src: url('../font/kaushanscript/kaushanscript-regular-webfont.eot');
    src: url('../font/kaushanscript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../font/kaushanscript/kaushanscript-regular-webfont.woff') format('woff'),
         url('../font/kaushanscript/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../font/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'devonshireregular';
    src: url('../font/devonshire/devonshire-regular-webfont.eot');
    src: url('../font/devonshire/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/devonshire/devonshire-regular-webfont.woff2') format('woff2'),
         url('../font/devonshire/devonshire-regular-webfont.woff') format('woff'),
         url('../font/devonshire/devonshire-regular-webfont.ttf') format('truetype'),
         url('../font/devonshire/devonshire-regular-webfont.svg#devonshireregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kalamregular';
    src: url('../font/kalam/kalam-regular-webfont.eot');
    src: url('../font/kalam/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('../font/kalam/kalam-regular-webfont.woff') format('woff'),
         url('../font/kalam/kalam-regular-webfont.ttf') format('truetype'),
         url('../font/kalam/kalam-regular-webfont.svg#kalamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kuraleregular';
    src: url('../font/kurale/kurale-regular-webfont.eot');
    src: url('../font/kurale/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kurale/kurale-regular-webfont.woff2') format('woff2'),
         url('../font/kurale/kurale-regular-webfont.woff') format('woff'),
         url('../font/kurale/kurale-regular-webfont.ttf') format('truetype'),
         url('../font/kurale/kurale-regular-webfont.svg#kuraleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1
{
  margin: 0
}

#top-bar
{
  color: #EEC550;
  display: flex;
  justify-content: center;
  background: #569C87;
  margin: 0;
  font-size: 40px;
}

#name
{
  display: flex;
  align-items: center;
  margin: 20px 0 20px
}

#bottom-bar
{
  display: flex;
  justify-content: space-between;
  background: #569C87;
  padding: 1em;
  color: #EEC550;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.btn
{
  color: #EEC550;
  text-decoration: none;
  display: inline-block;
}
.btn:hover
{ 
  animation: wiggle 1.15s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

