#container-1
{
  background: #FCDFDB;
  width: 750px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 5em;
}

#menu-enchantee
{
  font-size: 30px;
  font-weight: bold;
  margin-top: 1em;
  color: #353535;
}

#restaurant-name
{
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  font-family: 'devonshireregular', sans-serif;
}

#note-footer
{
  vertical-align: sub;
}

#note-name
{
  font-family: 'devonshireregular', sans-serif;
  font-size: 30px;
}

.space
{
  margin: 0;
}

.enchantee-footer
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3em 0;
  text-align: center;
}