#container_4
{
  background: #F9F9F9;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 4em;
}

.gout
{
  background: -moz-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: -webkit-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 50px;
}
