#container-3
{
  background: #F1F1F1;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 2.5em;
}

.papilles
{
  background: linear-gradient(170deg, #2A50E3 25%,  #2C96F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dancing-scriptregular', sans-serif;
  font-size: 55px;
  margin: 0.8em 0;
}