/* Homepage */
body
{
  font-style: normal;
  margin: 0px;
  font-family: 'helvetica', 'Arial', sans-serif;
}

a
{
  text-decoration: none;
  color: #EEC550;
}

p
{
  margin: 0.3em;
}

.container
{
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

#menu-container
{
  height: 740px;
  width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.menu
{
  width: 250px;
  box-shadow: 1px 1px 8px #BDBDBD;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  box-sizing: border-box;
}

/* Menu carte 1 */
figure 
{
  margin: 2em 1em 0;
}

#menu1
{
  background-color: #FCDFDB;
}

#menu-title1
{
  font-size: 25px;
  font-family: 'kalamregular';
  color: #3C1218;
  margin: 0.8em;
}

.moving-text
{
  transform: scale(1);
  transition-property: transform;
  transition-duration: 800ms;
}
.moving-text:hover
{
  transform: scale(1.15);
  opacity: 0.8;
}

#note-music
{
  vertical-align: bottom;
  margin: 0 2em;
}

#enchantee
{
  color: #3C1218;
  margin: 0;
  font-size: 25px;
  font-family: 'devonshireregular', sans-serif;
}

/* Menu carte 2 */
#menu2
{
  background-color: #FEF5FF;
}

#menu-title2 
{
  font-family: 'noto-serifregular', sans-serif;
  font-size: 30px;
  color: #C77411;
  margin: 0;
}

#french-menu
{
  background: linear-gradient(170deg, #C77411 25%,  #651FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kuraleregular', sans-serif;
  font-size: 20px;
}

/* Menu carte 3 */
#menu3
{
  background-color: #F1F1F1;
}

#menu-title3
{
  font-family: 'kalamregular', sans-serif;
  font-size: 30px;
  color: #2C96F9;
  margin: 0;
}

#delice
{
  background: linear-gradient(170deg, #2A50E3 25%,  #2C96F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dancing-scriptregular', sans-serif;
  font-size: 22px;
}
/* Menu carte 4 */
#menu4
{
  background-color: #F9F9F9;
}

#palette
{
  background: -moz-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: -webkit-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kaushan-scriptregular', sans-serif;
  font-size: 22px;
}

#menu-title4
{
  color: #54A24F;
  font-family: 'kalamregular', sans-serif;
  font-size: 30px;
  margin: 0;
}

/* Prochainement */
#soon
{
  background-color: #569C87;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: normal;
  color: #EEC550;
  display: flex;
  justify-content: center;
  line-height: 50px;
  margin: 0 0 2em;
}

/* Animations points */
@keyframes animation
{
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#point-1
{
  animation: animation 1.2s infinite;
  padding-left: 5px;
}

#point-2
{
  animation: animation 1.2s infinite;
  animation-delay: .2s;
  padding-left: 5px;
}

#point-3
{
  animation: animation 1.2s infinite;
  animation-delay: .4s;
  padding-left: 5px;
}