
/* 1er page*/
body
{
  font-style: normal;
  margin: 0px;
  font-family: 'helvetica', 'Arial', sans-serif;
}

#conteneur
{
	padding: 0 18em;
	margin: 4em 4em 0em;
  height: 770px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

.menu
{
  width: 200px;
 
  box-shadow: 1px 1px 8px #BDBDBD;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  box-sizing: border-box;
}

/*menu carte 1*/
a
{
  text-decoration: none;
}

figure, p 
{
  margin: 0;
}

#menu1 p
{
   color: #3C1218;
}

#menu1
{
  background-color: #FCDFDB;
  font-family: 'devonshireregular', sans-serif;
  font-size: 25px;
}

#menu-title1
{
  font-size: 25px;
  font-family: 'kalamregular';
  color: #3C1218;
}

.moving-text
{
  transform: scale(1);
  transition-property: transform;
  transition-duration: 800ms;

}

.moving-text:hover
{
  transform: scale(1.15);
  opacity: 0.8;
}

/*menu carte 2*/
#menu2
{
  background-color: #FEF5FF;

  }

#menu-title2 
{
  font-family: 'kuraleregular', sans-serif;
  font-size: 25px;
  color: #C77411;
}

#french-menu
{
  background: linear-gradient(170deg, #C77411 25%,  #651FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kuraleregular', sans-serif;
  font-size: 17px;

}

/*menu carte 3*/
#menu3
{
  background-color: #F1F1F1;
}

#menu-title3
{
   font-family: 'kalamregular', sans-serif;
  font-size: 25px;
  color: #2C96F9;
}

#delice
{
  background: linear-gradient(170deg, #2A50E3 25%,  #2C96F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dancing_scriptregular', sans-serif;
  font-size: 20px;
}
/*menu carte 4*/
#menu4
{
  background-color: #F9F9F9;
}

#palette
{
  background: -moz-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: -webkit-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 20px;
}

#menu-title4
{
  color: #54A24F;
  font-family: 'kalamregular', sans-serif;
  font-size: 25px;
}

/*soon bar*/
#soon
{
  background-color: #569C87;
  display: flex;
  justify-content: center;
  margin: 1em 19em 5em;
  padding: 0.6em;
  border-radius: 10px;
  font-size: 25px;
  font-weight: normal;
  color: #EEC550;
}









