/*font*/
@font-face 
{
    font-family: 'dancing_scriptregular';
    src: url('font/dancingscript/dancingscript-webfont.eot');
    src: url('font/dancingscript/dancingscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dancingscript/dancingscript-webfont.woff2') format('woff2'),
         url('font/dancingscript/dancingscript-webfont.woff') format('woff'),
         url('font/dancingscript/dancingscript-webfont.ttf') format('truetype'),
         url('font/dancingscript/dancingscript-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'kaushan_scriptregular';
    src: url('font/kaushanscript/kaushanscript-regular-webfont.eot');
    src: url('font/kaushanscript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('font/kaushanscript/kaushanscript-regular-webfont.woff') format('woff'),
         url('font/kaushanscript/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('font/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'devonshireregular';
    src: url('font/devonshire/devonshire-regular-webfont.eot');
    src: url('font/devonshire/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/devonshire/devonshire-regular-webfont.woff2') format('woff2'),
         url('font/devonshire/devonshire-regular-webfont.woff') format('woff'),
         url('font/devonshire/devonshire-regular-webfont.ttf') format('truetype'),
         url('font/devonshire/devonshire-regular-webfont.svg#devonshireregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kalamregular';
    src: url('font/kalam/kalam-regular-webfont.eot');
    src: url('font/kalam/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('font/kalam/kalam-regular-webfont.woff') format('woff'),
         url('font/kalam/kalam-regular-webfont.ttf') format('truetype'),
         url('font/kalam/kalam-regular-webfont.svg#kalamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kuraleregular';
    src: url('font/kurale/kurale-regular-webfont.eot');
    src: url('font/kurale/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kurale/kurale-regular-webfont.woff2') format('woff2'),
         url('font/kurale/kurale-regular-webfont.woff') format('woff'),
         url('font/kurale/kurale-regular-webfont.ttf') format('truetype'),
         url('font/kurale/kurale-regular-webfont.svg#kuraleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 1er page*/
body
{
  font-style: normal;
  margin: 0px;
  font-family: 'helvetica', 'Arial', sans-serif;
}

h1
{
  margin: 0
}

#top-bar
{
  display: flex;
  justify-content: center;
  background: #569C87;
  margin: 0;
  color: #EEC550;
  font-size: 50px;
}

#name
{
  display: flex;
  align-items: center;
  margin: 20px 0 20px
}

#bottom-bar
{
  display: flex;
  justify-content: space-between;
  background: #569C87;
  padding: 1em;
  color: #EEC550;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#conteneur
{
	padding: 0 18em;
	margin: 4em 4em 0em;
  height: 770px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

.menu
{
  width: 200px;
 
  box-shadow: 1px 1px 8px #BDBDBD;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  box-sizing: border-box;
}

.btn
{
  color: #EEC550;
  text-decoration: none;
  display: inline-block;
}
.btn:hover
{ 
  animation: wiggle 1.15s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/*menu carte 1*/
a
{
  text-decoration: none;
}

figure, p 
{
  margin: 0;
}

#menu1 p
{
   color: #3C1218;
}

#menu1
{
  background-color: #FCDFDB;
  font-family: 'devonshireregular', sans-serif;
  font-size: 25px;
}

#menu-title1
{
  font-size: 25px;
  font-family: 'kalamregular';
  color: #3C1218;
}

.moving-text
{
  transform: scale(1);
  transition-property: transform;
  transition-duration: 800ms;

}

.moving-text:hover
{
  transform: scale(1.15);
  opacity: 0.8;
}

/*menu carte 2*/
#menu2
{
  background-color: #FEF5FF;

  }

#menu-title2 
{
  font-family: 'kuraleregular', sans-serif;
  font-size: 25px;
  color: #C77411;
}

#french-menu
{
  background: linear-gradient(170deg, #C77411 25%,  #651FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kuraleregular', sans-serif;
  font-size: 17px;

}

/*menu carte 3*/
#menu3
{
  background-color: #F1F1F1;
}

#menu-title3
{
   font-family: 'kalamregular', sans-serif;
  font-size: 25px;
  color: #2C96F9;
}

#delice
{
  background: linear-gradient(170deg, #2A50E3 25%,  #2C96F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dancing_scriptregular', sans-serif;
  font-size: 20px;
}

/*menu carte 4*/
#menu4
{
  background-color: #F9F9F9;
}

#palette
{
  background: -moz-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: -webkit-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 20px;
}

#menu-title4
{
  color: #54A24F;
  font-family: 'kalamregular', sans-serif;
  font-size: 25px;
}

#soon
{
  background-color: #569C87;
  display: flex;
  justify-content: center;
  margin: 1em 19em 5em;
  padding: 0.6em;
  border-radius: 10px;
  font-size: 25px;
  font-weight: normal;
  color: #EEC550;
}

/* Menu 1 détaillé */
main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
}

h3
{
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  font-family: 'devonshireregular', sans-serif;
}

#container_1
{
  background: #FCDFDB;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 4em;
}

#menu-1-title 
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-title
{
	font-size: 30px;
	font-weight: bold;
	margin-top: 1.5em;
	color: #353535;
}

#note-footer
{
  vertical-align: sub;
}

#note_footer
{
  font-family: 'devonshireregular', sans-serif;
  font-size: 30px;
}


.subtitle-menu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'devonshireregular', sans-serif;
}

.line_1
{
  width: 160px;
}

.subtitle
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'kalamregular', sans-serif;
  font-weight: bold;
}

.food
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-family: 'kalamregular', sans-serif;
}

.footer
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3em;
  text-align: center;
}

.menu-item
{
  margin: 2em 0em;
}

.price
{
  font-family: 'kalamregular', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* Menu 2 détaillé */
#container_2
{
  background: #FEF5FF;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 4em;
}

#chic
{
  background: linear-gradient(170deg, #C77411 25%,  #651FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kuraleregular', sans-serif;
  font-size: 30px;
  margin: 2em 0 1em 0;
}

#menu-chic
{
  background: linear-gradient(170deg, #C77411 25%,  #651FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kuraleregular', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 1.5em;
}

#appétit
{
  color: #C7750A;
  font-family: 'kuraleregular', sans-serif;
}

#plaisir
{
  color: #A6679A;
  font-family: 'kuraleregular', sans-serif;
}

#gourmandises
{
  color: #6E4BCD;
  font-family: 'kuraleregular', sans-serif;
}

.food_1
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: #C7750A;
  font-family: 'kuraleregular', sans-serif;
}

.food_2
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: #A6679A;
  font-family: 'kuraleregular', sans-serif;
}

.food_3
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: #6E4BCD;
  font-family: 'kuraleregular', sans-serif;
}

.price_2
{
  font-size: 18px;
}

/* Menu 3 détaillé */
#container_3
{
  background: #F1F1F1;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 4em;
}

.papilles
{
  background: linear-gradient(170deg, #2A50E3 25%,  #2C96F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dancing_scriptregular', sans-serif;
  font-size: 50px;
  margin: 1em 0 0.6em 0;
}

/* Menu 4 détaillé */
#container_4
{
  background: #F9F9F9;
  width: 700px;
  height: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #BDBDBD;
  padding: 2em 4em;
}

.gout
{
  background: -moz-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: -webkit-linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  background: linear-gradient(170deg, #54A24F 25%,  #BEFD7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 50px;
}


/* souligne */
.mini_title
{
  background: -moz-linear-gradient(to top, #3F1418 7%, transparent 7%) no-repeat;
  background: -webkit-linear-gradient(to top, #3F1418 7%, transparent 7%) no-repeat;
  background: linear-gradient(to top, #3F1418 7%, transparent 7%) no-repeat;
  transition: background-size 0.6s;
  background-size: 0% 100%;
}

.mini_title:hover
{
  background-size: 100% 100%;
}

#appetit:hover, #plaisir:hover, #gourmandises:hover
{
  background-size: 100% 100%;
}

#appetit
{
  background: -moz-linear-gradient(to top, #C7750A 7%, transparent 7%) no-repeat;
  background: -webkit-linear-gradient(to top, #C7750A 7%, transparent 7%) no-repeat;
  background: linear-gradient(to top, #C7750A 7%, transparent 7%) no-repeat;
  transition: background-size 0.6s;
  background-size: 0% 100%;
}

#plaisir
{
  background: -moz-linear-gradient(to top, #A6679A 7%, transparent 7%) no-repeat;
  background: -webkit-linear-gradient(to top, #A6679A 7%, transparent 7%) no-repeat;
  background: linear-gradient(to top, #A6679A 7%, transparent 7%) no-repeat;
  transition: background-size 0.6s;
  background-size: 0% 100%;
}

#gourmandises
{
  background: -moz-linear-gradient(to top, #6E4BCD 7%, transparent 7%) no-repeat;
  background: -webkit-linear-gradient(to top, #6E4BCD 7%, transparent 7%) no-repeat;
  background: linear-gradient(to top, #6E4BCD 7%, transparent 7%) no-repeat;
  transition: background-size 0.6s;
  background-size: 0% 100%;
}

/*Mention Légale*/
#lorem-ipsum
{
  margin: 5em ;
}



